* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  min-height: 80vh;
}

footer {
  background-color: #3a3f44;
  color: #fff;
}

span {
  margin: 2px;
}

h3 {
  margin: 5px;
}

.product__img {
  height: 250px;
  min-width: 200px;
  object-fit: cover;
}

.product {
  transition: transform 0.1s ease-in;
}
.product:hover {
  transform: scale(1.07);
}

.rating {
  margin: 5px;
}
